    /* 重置浏览器默认样式 */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* 清除标签默认样式 */
    li {
        list-style: none;
    }

    /* 全局字体的常用配置 */
    body {
        font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
        color: #333;
    }

    /* 清除超链接默认样式 */
    a {
        color: #333;
        text-decoration: none;
    }

    /* 单伪元素法 */
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    /* 双伪元素法 */
    /* before 解决外边距塌陷问题 */
    .claerfix::before,
    .claerfix::after {
        content: "";
        display: table;
    }

    /* after 清除浮动 */
    .claerfix::after {
        clear: both;
    }